<form #newArrival="ngForm" class="newArrival">
  <h5>Add new Arrival:</h5>
  <p
    *ngIf="newArrival.invalid && newArrival.submitted"
    class="alert alert-danger"
  >
    The form is not valid. Please check all fields!
  </p>
  <div>
    From town:
    <input
      type="text"
      #fromTown="ngModel"
      ngModel
      name="from_town"
      required
      minlength="1"
      maxlength="64"
    />
    <span
      class="alert alert-warning"
      *ngIf="fromTown.invalid && newArrival.submitted"
      >Not valid</span
    >
  </div>

  <div>
    Airline:
    <input
      type="text"
      #airline="ngModel"
      ngModel
      name="airline"
      required
      minlength="1"
      maxlength="32"
    />
    <span
      class="alert alert-warning"
      *ngIf="airline.invalid && newArrival.submitted"
      >Not valid</span
    >
  </div>

  <div>
    Arrival time:
    <input
      type="datetime-local"
      [(ngModel)]="today"
      name="arrival_time"
      required
    />
<!-- min={{minToday}} -->

  </div>

  <button type="submit" (click)="addArrival()" class="btn btn-success">
    Add
  </button>
</form>

<div class="statistika">
  <h5>Statistics:</h5>
  <p>Total arrivals: {{ total_records }}</p>
  <p>Delayed arrivals: {{ total_is_late }}</p>
  <p>Arrivals on time: {{ total_records - total_is_late }}</p>
</div>

<div class="filter">
  <h5>Filter:</h5>
  <div>
    <label>Find arrival by city:</label>
    <input type="text" (input)="onFilter($event)" class="filter-input" />
  </div>
  <div>
    <button (click)="onSort('from_town')" class="btn btn-primary">
      Sort by Town
    </button>
    <button (click)="onSort('arrival_time')" class="btn btn-secondary">
      Sort by Arrival time
    </button>
  </div>
</div>

<!-- <p class="alert alert-warning no-changes" *ngIf="updateError">No changes for update!</p> -->
<table class='table table-light' *ngIf="filteredArrivals.length > 0; else noArrivalsWarning">
  <thead class="table-success">
    <tr>
      <th>ID <i (click)="onSort('id')" class="fa fa-angle-{{this.field === 'id' ? (this.sortAsc ? 'down' : 'up') : 'down'}}"></i></th>
      <th>From Town <i (click)="onSort('from_town')" class="fa fa-angle-{{this.field === 'from_town' ? (this.sortAsc ? 'down' : 'up') : 'down'}}"></i></th>
      <th>Airline <i (click)="onSort('airline')" class="fa fa-angle-{{this.field === 'airline' ? (this.sortAsc ? 'down' : 'up') : 'down'}}"></i></th>
      <th>Arrival Time <i (click)="onSort('arrival_time')" class="fa fa-angle-{{this.field === 'arrival_time' ? (this.sortAsc ? 'down' : 'up') : 'down'}}"></i></th>
      <th>Is Late <i (click)="onSort('is_late')" class="fa fa-angle-{{this.field === 'is_late' ? (this.sortAsc ? 'down' : 'up') : 'down'}}"></i></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredArrivals">
      <td>{{item.id}}</td>
      <td>{{item.from_town}}</td>
      <td>{{item.airline}}</td>
      <td>{{item.arrival_time | time: 'T'}}<br><input type="datetime-local" #dateInput="ngModel" name="arrival_time" id="arrival_time" [(ngModel)]="item.arrival_time"></td>
      <td>{{item.is_late ? "Late" : "In time"}}<input type="checkbox" #checkInput="ngModel" [(ngModel)]="item.is_late" id="checkbox"/></td>
      <td>
        <button (click)="onUpdate(item)" class="btn btn-outline-success action">Update</button>
        <button (click)="onDelete(item.id)" class="btn btn-outline-danger action">Delete</button>
      </td>
    </tr>
  </tbody>
  <tfoot class="table-success">
    <tr>
      <td>Total arrivals: {{total_records}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td *ngIf="recordsLoaded">Total is late: {{total_is_late}}</td>
      <td></td>
    </tr>
  </tfoot>
</table>
<ng-template #noArrivalsWarning>
  <p *ngIf="dataLoaded" class="alert alert-warning">Sorry, no flights - no data!</p>
</ng-template>


<!-- min={{minToday}} -->








<!-- <table *ngIf="arrivals.length > 0; else noArrivalsWarning" class="table">
  <thead>
    <tr>
      <th (click)="sortBy('id')">
        Id
        <i
          class="fa fa-{{
            sortField === 'id'
              ? direction === 'up'
                ? 'chevron-up'
                : 'chevron-down'
              : 'sort'
          }}"
        ></i>
      </th>
      <th (click)="sortBy('from_town')">
        From town
        <i
          class="fa fa-{{
            sortField === 'from_town'
              ? direction === 'up'
                ? 'chevron-up'
                : 'chevron-down'
              : 'sort'
          }}"
        ></i>
      </th>
      <th (click)="sortBy('airline')">
        Airline
        <i
          class="fa fa-{{
            sortField === 'airline'
              ? direction === 'up'
                ? 'chevron-up'
                : 'chevron-down'
              : 'sort'
          }}"
        ></i>
      </th>
      <th (click)="sortBy('is_late')">
        Is late
        <i
          class="fa fa-{{
            sortField === 'is_late'
              ? direction === 'up'
                ? 'chevron-up'
                : 'chevron-down'
              : 'sort'
          }}"
        ></i>
      </th>
      <th (click)="sortBy('arrival_time')">
        Arrival Time
        <i
          class="fa fa-{{
            sortField === 'arrival_time'
              ? direction === 'up'
                ? 'chevron-up'
                : 'chevron-down'
              : 'sort'
          }}"
        ></i>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let arrival of arrivals">
      <td>{{ arrival.id }}</td>
      <td>{{ arrival.from_town }}</td>
      <td>{{ arrival.airline }}</td>
      <td>
        <p>{{ arrival.is_late }}</p>
        <input #newIs_late [(ngModel)]="cowsUpdateMap.get(cow.id).newIs_late" />
      </td>
      <td>
        <p>{{ arrival.is_late }}</p>
        <input
          #todaysIs_lateCount
          [(ngModel)]="arrivalsUpdateMap.get(arrival.id).todaysIs_lateCount"
        />
      </td>
      <td>
        <p class="date_input">{{ arrival.arrival_time | date }}</p>
        <input
          #newArrivalDate
          class="date_input"
          [ngModel]="arrivalsUpdateMap.get(arrival.id).newArrivalDate"
          (ngModelChange)="arrivalsUpdateMap.get(arrival.id).newArrivalDate = $event"
           pattern="\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+([+-][0-2]\d:[0-5]\d|Z)"
          />
        -- pattern="\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+([+-][0-2]\d:[0-5]\d|Z)" --
      </td>
      <td>
        <button (click)="onDelete(arrival.id)" class="btn btn-danger">
          Delete
        </button>
        &nbsp;
        <button (click)="onUpdate(arrival)" class="btn btn-warning">Update</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input [(ngModel)]="newArrival.from_town" />
      </td>
      <td>
        <p></p>
        <input [(ngModel)]="newArrival.airline" />
      </td>
      <td>
        <p></p>
        <input [(ngModel)]="newArrival.is_late" />
      </td>
      <td>
        <p class="date_input"></p>
        <input
          class="date_input"
          [ngModel]="newArrival.arrival_time
          | date: 'yyyy-MM-ddTHH:mm:ss.SSS' + 'Z'
          "
          (ngModelChange)="newArrival.arrival_time = $event"
        />

      </td>
      <td>
        <button (click)="onCreate()" class="btn btn-light">Create</button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noArrivalsWarning>
  <p class="alert alert-warning">No data!</p>
</ng-template>
 -->
